<!DOCTYPE html>
<html lang='english'>
<head>
<link rel="stylesheet" type="text/css" href="./static/css/robot.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="jumbotron text-center">
    <h1>Robot Controller</h1>
    <p>Use the buttons to drive the robot</p>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="screen center-block">&nbsp</div>
      <div class="row"  >
            <button class="btn btn-primary btn-lg  center-block" type="button" name="Forward" value="Forward">Forward</button>
      </div>
      <div class="row  text-center">
          <button type="button" class="btn btn-primary btn-lg active">Left</button>
          &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          <button type="button" class="btn btn-default btn-lg active">Right</button>
        </div>
      </div>
      <div class="row">
        <button class="btn btn-primary btn-lg center-block" type="button" name="Backward">Backward</button>
      </div>
    </div>
  </div>

<body
</html>
